:root {
  --gradient-start: #b13bffb2;
  --gradient-mid-1: #d096f7;
  --gradient-mid-2: #f0ecf8;
  --gradient-end: #f5f3f9;
  --text-color: #222;
  --font-size-min: 44px;
  --font-size-max: 88px;
  --font-size-vw: 6vw;
  --spacing-padding: 6vw;
  --line-height: 1.3;
  --font-weight: 600;
  --letter-spacing: -0.02em;
}

.scroll-section__header {
  padding-top: 100px;
  position: absolute;
  top: 60px;
  left: 215px;
  font-weight: 400;

  font-size: clamp(22px, 6vw, 44px); /* Half of paragraph */
  font-weight: 600;
  line-height: 1.2;


  text-align: left;
  color: #222;
}

.scroll-section__header span {
  color: #a61fff;
}

/* Main section */
.scroll-section {
  height: 320vh;
  background: linear-gradient(
    180deg,
  #d39df7 0%,
  #f0ecf8 20%,
  #f5f3f9 100%
  );

  position: relative;
  overflow: hidden;
}

/* Sticky container */
.scroll-section__container {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 var(--spacing-padding);
}

.scroll-section__text {
  padding-top: 1800px;
  max-width: 1100px;
  font-size: clamp(44px, 6vw, 88px);
  line-height: 1.3;
  font-weight: 600;
  color: #222;
  text-align: left;
  letter-spacing: -0.02em;

  word-break: break-word;
  white-space: normal;
}

.word {
  display: inline;
  opacity: 0.2;
  will-change: opacity;
}

