:root {
  --gradient-start: #b13bffb2;
  --gradient-mid-1: #d096f7;
  --gradient-mid-2: #f0ecf8;
  --gradient-end: #f5f3f9;
  --text-color: #222;
  --font-size-min: 44px;
  --font-size-max: 88px;
  --font-size-vw: 6vw;
  --spacing-padding: 6vw;
  --line-height: 1.3;
  --font-weight: 600;
  --letter-spacing: -0.02em;
}

.scroll-section__header {
  padding-top: 100px;
  position: absolute;
  top: 60px;
  left: 315px;
  font-weight: 800;

  font-size: clamp(22px, 6vw, 30px); 
  font-weight: 600;
  line-height: 1.2;


  text-align: left;
  color: #222;
}

.scroll-section__header span {
  color: #a61fff;
}

/* Main section */
.scroll-section {
  height: 350vh;
  background: linear-gradient(
    180deg,
  #e0b4fe 0%,
  #f0ecf8 15%,
  #f5f3f9 100%
  );

  position: relative;
  overflow: hidden;
}

/* Sticky container */
.scroll-section__container {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 var(--spacing-padding);
}

.scroll-section__text {
  margin-top: 265vh;
  max-width: 900px;
  font-size: clamp(40px, 6vw, 70px);
  font-weight: 600;
  color: #222;
  text-align: left;
  letter-spacing: 1.26px;
  line-height: 1.7;

  word-break: break-word;
  white-space: normal;
}

.word {
  display: inline;
  opacity: 0.2;
  will-change: opacity;
}

.highlight-word {
  color: #a61fff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .scroll-section__header {
    left: 25px;
    top: 40px;
  }

  .scroll-section {
    height: 280vh;
  }

  .scroll-section__text {
    padding-top: 1300px;
  }
}

@media (max-width: 768px) {
  .scroll-section__header {
    left: 20px;
    top: 30px;
  }

  .scroll-section {
    height: 250vh;
  }

  .scroll-section__text {
    padding-top: 1500px;
  }
}

@media (max-width: 599px) {
  .scroll-section__header {
    padding-top: 40px;
    left: 30px;
    top: 20px;
  }

  .scroll-section {
    height: 200vh;
  }

  .scroll-section__text {
    padding-top: 850px;
  }
}

@media (max-width: 767px) and (min-width: 600px) {
  .scroll-section__header {
    left: 45px;
    top: 25px;
  }

  .scroll-section {
    height: 200vh;
  }

  .scroll-section__text {
    padding-top: 1000px;
  }
}

@media (max-height: 480px) and (orientation: landscape) {
  .scroll-section__header {
    left: 25px;
    top: 15px;
  }

  .scroll-section {
    height: 300vh;
  }

  .scroll-section__text {
    padding-top: 800px;
  }
}

@media (max-width: 379px) {
  .scroll-section__header {
    padding-top: 10px;
    left: 25px;
    top: 15px;
  }

  .scroll-section {
    height: 280vh;
  }

  .scroll-section__text {
    padding-top: 1200px;
  }
}