/* Scroll Section */
.scroll-section {
  height: 100vh;
  background: linear-gradient(
    180deg,
  #b13bffb2 0%,
  #d096f7 12%,
  #f0ecf8 25%,
  #f5f3f9 100%
  );
}

/* Sticky content */
.content {
  position: sticky;
  top: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 4vw;
}

/* Text */
.scroll-text {
  padding-right: -50px;
  max-width: 1100px;
  font-size: clamp(26px, 3vw, 56px);
  line-height: 1.6;
  font-weight: 600;
  color: #222;
}

/* Word */
.word {
  display: inline-block;
  margin-right: 0.25em;
  transition: all 0.3s ease;
}

/* Highlight */
.word-active {
  color: #a61fff;
  text-shadow: 0 0 18px rgba(166, 31, 255, 0.4);
}